:root{
    --myblue :#0291df;
    --mylightblue :#36c5f5;
    --myorange :#fd8444;
    --screenwidth: 800px;
} 
.pros{
    background-color:  var(--myblue);
    color: white;
    border-radius: 20%;
}
.cons{
    background-color:  var(--myorange);
    color: white;
    border-radius: 20%;
}
i{
    padding: 6px;
    margin-right: 5px;
}
h1{
    font-size: 1.4rem;

}
h2{
    font-size: 1.3rem;
    text-align: center;
}
h3{
    font-size: 1.2rem;
    text-align: center;
}
h4{
    font-size: 1rem;
    text-align: center;
}
.thumbs{
    display: flex;
    align-items: center;
}
main img{
    width: 100%;
    height: auto;
    padding: 20px;
}
@media (min-width: 589px) {
    main{
    margin-top: 4rem;
    }
}