/* ============================================================
        slideshow styles
============================================================*/
.slideshow{
	position: relative;
	height: 400px;
	min-width: 280px;
	width: 80%;
	max-width: 520px;
	margin: 0 auto;
}
.slideshow-div{
	width: 100%; /*set the size of the slideshow img*/
	height: 100%;
	object-fit: cover;
	
}
.slideshow-track-container{
	position: relative;
	border: 1px solid #e1e1e1;;
	height: 100%;
	overflow: hidden;
	max-width: 500px;
	margin: auto;
}
.slideshow-track{
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	height: 100%;
	transition: transform 250ms ease-in;
}
.slides{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.slide-button{
	color: lightskyblue;
	position: absolute;
	top: 50%;
	transform: translateY(-50%); /*change the position of the bottons to exacly the middle*/
	font-size: 3em;
	padding: 0;
	cursor: pointer;
	
}
.slideshow-button-left{
	left: -50px;
}
.slideshow-button-right{
	right: -50px;
}

.slide-button:hover{
	color: orange;
}
.slideshow-nav{
	
	display: flex;
	justify-content: center;
	padding: 10px 0;

}
.slides-indicator{
	border: 0;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	background: rgba(0, 0, 0, .3);
	margin: 0 12px;
	cursor: pointer;
}
.slides-indicator.current-slide{
	background: rgba(0, 0, 0, .75);
}
.is-hidden{
	display: none;
}
.slideshow-div a{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 0 5%;
	text-decoration: none;
	color: rgb(85, 85, 85);
	
}
