* {
    box-sizing: border-box; /*fix padding and margin box size*/
}
:root{
    --bluecolor :#0291df;
} 

a { text-decoration: none; } /*remove text underline*/

header a{
    color: white;
}
h1, 
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}
p {
    margin: 10px 0;
}
.burger{
    visibility: hidden;
    position: absolute;
}
header{
    background-color: var(--bluecolor);
    color: white;
    height: 60px;
}
.logo img {
    width: auto;
    height: 30px;
    visibility: hidden;
    position: absolute;
    margin-right: 6px;
}
nav {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.nav-links{
    display: flex;
    flex-direction: row;
    visibility: hidden;
    position: absolute;
}
.nav-links a:hover {
    text-decoration: underline;
}
.nav-links a {
    margin: 0 8px;
    padding: 0 4px;
}
/* ============================================================
        				Media Queries
==============================================================*/


@media only screen and (min-width: 640px) {
    header a{
        color: var(--bluecolor);
    }
    header{
        background-color: var(--bluecolor);
        height: 300px;
        padding-top: 20px;
    }
    nav{
        background-color: white;
        justify-content: space-between;
        max-width: 90%;
        height: 60px;
        border-radius: 6px;
        box-shadow: 0px 0px 10px #0069a1;

    }
    .nav-links{
        visibility: visible;
        position: unset;
    }
    .logo img{
        visibility: visible;
        position: unset;
    }
    .logo{
        display: flex;
        width: auto;
        align-items: center;
        
    }
    .logo h2{
        font-size: 1.2rem;
    
    }
}
@media only screen and (min-width: 922px) {
    .logo{
        flex-grow: 1;
    }
}